*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  height: 100vh;
  text-align: center;
  background-image: url('https://storage.needpix.com/rsynced_images/sticky-paper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

input, button {
  border-radius: 10%;
  padding: 10px;
  margin-bottom: 10px;
}



.toDoList {
  width: 70%;
  min-height: 200px;
  margin: 0 auto;
  background-color: rgb(246, 248, 250);
  text-align: left;
  padding: 10px 30px;
}

.toDoList li {
  list-style: none;
  border-bottom: 1px solid lightgrey;
}
