<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do list dinamica</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="app">
      <nav>
        <img :src="logo" alt="">
        <h3>Compila la tua to-do list</h3>
        <input v-model="item" v-on:keyup.enter="add"  placeholder="Cosa c'è da fare?">
        <button  @click="add" type="button" name="button">Aggiungi</button>
      </nav>
      <div class="toDoList">
        <ul>
          <li v-for="(item, index) in list"> {{ item }}
            <i :class="esc" @click="remove(index)"></i>
          </li>
        </ul>
      </div>
    </div>

    <!-- Riferimento javascript -->
    <script type="text/javascript" src="js/script.js">
    </script>
  </body>
</html>
